/*
Elements
Classes

 */


body {
min-height: 100vh;
min-width: 786px;
font-family: arial, sans-serif;
font-size: 13px;
display: flex;
flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

a:hover {
  text-decoration: underline;
}

img {
  padding-bottom: 20px;
}

li {
  display: inline-block;
  margin-left: 10px;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  width: 559px;
  height: 34px;
  font-size: 24px;
}

.container {
  padding-top: 12%;
}

.search_list {
  padding: 15px 0 15px 0;
  margin-left: 20px;
  margin-right: 20px;
}

.search_area {
  text-align: center;
}

.button {
  display: inline-block;
  background-color: #f5f5f5;
  height: 36px;
  line-height: 36px;
  margin: 25px 4px;
  padding: 4px 16px;
  color: #757575;
  font-weight: bold;
}

.button:hover {
  text-decoration: none;
  padding-top: 5px;
  padding-right: 19px;
  color: #000;
  border: 1px solid #ddd;
}

.search_list_login {
  padding: 8px 10px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  opacity: 1;
  border-radius: 2px;
  margin-right: -10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.search_footer {
  margin-top: auto;
  padding-bottom: 15px;
  background: #f2f2f2;
}
